<div class="row" >
    <div class="col-sm-2" style="padding:0;">
        <h3> User info here </h3>
        <%= render 'users/user_summary' %>
    </div>
    <div class="col-sm-8">
        <h3> Timeline feed here </h3>
        <div class="content_wrapper mbm post_form2 user_post_form">
            <%= render 'shared/post_form', locals: {:feed_item => @post} %>
        </div>
        <div class="user_post_feed">
            <%= render 'shared/feed' %>
        </div>
    </div>
    <div class="col-sm-2">
        <h3> User friends </h3>
        <%= render 'shared/friend_feed' %>
    </div>
</div>
