<div class="content_wrapper mbm mbm2 content_wrapper_color">
    <div class="user_content">
        <div class="clearfix _5x46">
            <div class="gravatar">
                <%= link_to gravatar_for(feed_item.user, :size => 30), name_path(feed_item.user.name) %>
            </div>
            <div class="user_name">
                <%= link_to feed_item.user.name, name_path(feed_item.user.name) %>
            </div>
        </div>
        <div >
            <%= feed_item.content %>
        </div>
        <div class="comment_section bottom_color">
            <li class="user_comment"></li>
        </div>
    </div>
</div>
