<div class="content_wrapper">
    <div class="user_content">
        <div class="clearfix">
            <div class="gravatar">
                <%= link_to gravatar_for(friend, :size => 30), name_path(friend.name) %>
            </div>
            <div class="name_wrapper">
                <%= link_to friend.name, name_path(friend.name) %>
            </div>
        </div>
    </div>
</div>

