<li id="<%= friend.id %>" >

    <%#= link_to gravatar_for(feed_item.user), feed_item.user %>

    <span class="user" >
        <%= link_to friend.name, name_path(friend.name) %>
    </span>

    <%#= render 'shared/content_timestamp', object: feed_item %>

    <%#= render 'shared/delete', object: feed_item %>

</li>
