@import "themes/jquery.ui.smoothness";
@import "jquery.ui.all";
@import "bootstrap-sprockets";
@import "bootstrap";

html {
    min-height:100%;
    position: relative;
}

body {
    margin-bottom: 60px;
    height:100%;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

body > .container {
    padding: 67px 15px 80px;
    background: #dfe3ee;
}

h1{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.welcome-page{
    padding-top: 10%;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    h1{
        padding-bottom: 15px;
        text-align: center;
    }
}

.dropdown-menu{
    min-width: 100px;
}

// .textarea, input{
//     border-radius: 3px;
//     border-color: rgba(229, 103, 23, 0.8);
// }

b.caret-right {
  border-top: 4px solid transparent;
}

.navbar-brand{
    line-height: 40px;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 40px;
}

.navbar-collapse{
    color: #fff;
    font-size: 11px;
}
.navbar-collapse input{
    color:black;
}

.navbar-collapse .btn{
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.content_wrapper_color{
    background: #fff;
}

.content_wrapper{
    // background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.mbm{
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
}

.mbm2{
    padding: 12px;
}

.clearfix{
    // clear: both;
    // content: ".";
    // display: block;
    // font-size: 0;
    // height: 0;
    // line-height: 0;
    // visibility: hidden;
}

.gravatar{
    float: left;

}

.user_name{
    margin-left: 30px;
    float: left;
    // display: inline-block;
    // vertical-align: middle;
}

.bottom_color{
    background-color: #f6f7f8;
}

.comment_section{
    -webkit-border-radius: 0 0 3px 3px;
    color: #141823;
    margin: 8px -12px -12px;
    overflow: visible;
    width: auto;
}

.user_comment{
    padding-top: 8px;
    word-break: break-word;
    font-size: 12px;
}

.post_form{
    max-width:100%;
    min-width:100%;
    min-height: 70px;
}

.comment_form{
    max-width:100%;
    min-width:100%;
    min-height: 20px;
    max-height: 30px;
    border: 1px solid lightgrey;
}

.btn-loc{
    float:right;
    border-radius: 0px;
    margin: 7px;
    padding: 5px 14px;
}

.btn{
    background-color: #3b5998;
}

.navbar{
    background: #3b5998
}

.textarea{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.welcome{
    display: block;
    font-weight: bold;
    width: 112px;
    word-wrap: break-word;
    color: black;
}

.name_wrapper{
    display:inline-block;
    margin-left: 30px;
}

.like_comment_section{
    padding-top: 5px;
    font-size: 11px;
    a{
        color: blue;
    }
}
.fake_button{
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
}

.like_feed{
    width: 100%;
    height: 28px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
    // border-bottom: 1px solid lightgrey;
    // margin-left:10px;
}
.border{
    width:100%;
    border-bottom: 1px solid lightgrey;
    height:20px;
}


.area {
    position: relative;
    color: #0F0;
    font-weight: bold;
}

.fixed {
    position: absolute;
    border: 1px solid black;
    padding: 6px;
    z-index: 100px;
    // background-color: #535353;
    color: #fff;
    display: none;
}

.commenter_counter{
    // background: green;
}

.hover_over{
    float:left;
}

.underlined{
    text-decoration: underline;
}
div {
    // border: 2px solid;
    border-radius: 3px;
}

.btn-login{
    color: #fff;
    background-color: #8b9dc3;
    height: 26px;
    margin-top: 5px;
    border-radius: 0px;
    border: 2px outset #3b5998 ;
}

.form-signin{
    padding-right: 10px;
}
